{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}-Login{% endblock %}
{% block body %}
    <style>
        .container {
             border: 0;
        }
    </style>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="TextToCenter">
        <div id="loginContainer">
            <form action="{{ path('security_login_check') }}" method="post">
                <table class="itemListTable temListTableNoEffect">
                    <tr><td class="greyBottom">
                        <h3>Login page</h3>
                    </tr></td>
                    <tr><td class="noPadding">
                            <input type="email" id="email" name="_email" value="{{ last_username }}" class="borderless" placeholder="Adres email"/>
                    </tr></td>
                    <tr><td class="noPadding">
                            <input type="password" id="password" name="_password" class="borderless" placeholder="password"/>
                    </tr></td>
                    <tr><td class="noPadding">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="BT editBT fullWidth noShadow">
                            Login
                        </button>
                    </tr></td>
                </table>
            </form>
        </div>
    </div>
{% endblock %}